<!DOCTYPE HTML>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
<th:block th:fragment="head">
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- TODO Alle Bibliotheken muss man lokal haben. -->
	<link rel="shortcut icon"
		href="https://www.minova.de/files/cto_layout/img/favicon.ico"
		type="image/x-icon" />
	<link rel="apple-touch-icon" href="/cas/img/apple-touch-icon.png" />
	<link rel="stylesheet" href="/cas/theme/bootstrap/bootstrap.css" />
	<link rel="stylesheet" href="/cas/theme/minova.css" />
	<script src="/cas/js/jquery-3.3.1.slim.min.js"></script>
	<script src="/cas/js/popper-1.14.7.min.js"></script>
	<script src="/cas/js/bootstrap-4.3.1.min.js"></script>
</th:block>
</head>

<body class="d-flex flex-column h-100 bg-light">
	<header th:fragment="header">
		<nav class="navbar navbar-dark bg-primary">
			<a class="navbar-brand" href="/cas/"
				th:text="${@environment.getProperty('spring.application.name')}"></a>
			<div class="mr-auto"></div>
			<div sec:authorize="isAnonymous()">
				<a role="button" href="/cas/login" class="btn btn-primary">Login</a>
			</div>
			<div sec:authorize="isAuthenticated()">
				<a role="button" href="/cas/logout" class="btn btn-primary">Logout</a>
			</div>
		</nav>
	</header>
	<main role="main" class="flex-shrink-0"></main>
	<footer th:fragment="footer" class="footer mt-auto py-3">
		<div class="container">
			<span class="text-muted"> Copyright © 2020 MINOVA</span>
		</div>
	</footer>
</body>
</html>
