<!DOCTYPE HTML>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
<body>
	<th:block th:fragment="login-body">
		<!-- Ohne th:action="@{/index.html}" funktioniert der login nicht. -->
		<form name="f" class="form-signin" action="/cas/login" method="post"
			style="max-width: 330px; margin: auto; text-align: center !important;">
			<p class="mt-5 mb-3"></p>
			<img class="mb-4"
				src="https://www.minova.de/files/cto_layout/themedesigner/uploads/MINOVA-Logo.png"
				alt="" width="100%">
			<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
			<label for="inputEmail" class="sr-only">Username</label> <input
				type="text" id="username" name="username" class="form-control"
				autofocus="autofocus" placeholder="Username"> <label
				for="inputPassword" class="sr-only">Password</label> <input
				style="margin-bottom: 10px;" type="password" id="password"
				name="password" class="form-control" placeholder="Password">
			<div class="checkbox mb-3">
				<label> <input type="checkbox" value="remember-me">
					Remember me
				</label>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign
				in</button>
			<p class="mt-5 mb-3"></p>
		</form>
	</th:block>
</body>
</html>
