<!DOCTYPE html>
<html class="h-100" lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<div th:replace="layout :: head" />
<title th:value="${@environment.getProperty('spring.application.name')}"></title>
</head>

<body class="d-flex flex-column h-100 bg-light">
	<header th:replace="layout :: header"></header>
	<main role="main" class="flex-shrink-0">
		<div class="container" sec:authorize="isAuthenticated()">
			<ul class="list-group" sec:authorize="isAuthenticated()">
				<li class="list-group-item"><a class="nav-link"
					href="/files/read?path=Shared%20Data/Program%20Files/AFIS/afis.xbs">AFIS.xbs</a></li>
			</ul>
		</div>
		<div class="container" sec:authorize="isAnonymous()">
			<div th:replace="login.body :: login-body" />
		</div>
	</main>
	<footer th:replace="layout :: footer"></footer>
</body>

</html>