<!DOCTYPE html>
<html class="h-100" lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<div th:replace="~{layout :: head}" />
<title th:value="${@environment.getProperty('spring.application.name')}"></title>
</head>

<body class="d-flex flex-column h-100 bg-light">
	<header th:replace="layout :: header"></header>
	<main role="main" class="flex-shrink-0">
		<div class="container">
			<div class="my-3 p-3 bg-white rounded shadow-sm">
				<span>Setup successfully completed!</span>
			</div>
		</div>
	</main>
	<footer th:replace="~{layout :: footer}"></footer>
</body>

</html>