<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- Während Tests führen exzessive Logs nur zu Problemen, weswegen nur Warnungen gelogged werden. -->
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />
	<property name="FILE_LOG_THRESHOLD" value="${FILE_LOG_THRESHOLD:-WARN}"/>
	<logger name="org.springframework" level="WARN"/>
	<root level="WARN">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>